<!DOCTYPE html>
<html lang="pt-br">
    <head>
     <meta>
     <meta>
     <meta>
     <title>Turma 18 Back-end</title>
     <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Nodejs Aula04</h1>
        </header>
        <section>
            <h1> aprendendo a instalar EJS</h1>
            <p><p>O que é o engine EJS? Chama-se Embedded JavaScript templating (EJS) e é uma linguagem de modelagem simples que permite gerar marcação HTML com JavaScript simples.</p></p>
            <ul>
             <li>
                usar o comando no terminal : npm install ejs
             </li>
            </ul>
        </section>
        <div class="datos">
           <h1> Formulario de contacto</h1>
            <form action="" method="post">
                <label for="Nome"> Nome</label><br>
                <input type="text"id="nome" name="nome"><br>
                <label for="e-mail"> E-mail</label><br>
                <input type="text"id="e-mail" name="e-mail"><br>
                <label for="phone"> Telefone</label><br>
                <input type="text"id="telefone" name="telefone"><br>
                <label for="phone"> Menssagem</label><br>
                <input type="text"id="menssagem" name="menssagem"><br>
                <input class="botaoenviar" type="submit" value="Enviar!">
            </form>
    </body>
</html>